@media (max-width: 1230px) {
    .nav-list {
        display: none;
    }

    .logo {
        top: 4px;
    }
    
    .nav-button {
        display: block;
        height: 30px;
        position: relative;
        justify-content: flex-end;
    }

    .nav.open .nav-list {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #efdecd;
        
        z-index: 1;
        padding: 46px 30px;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
        font-weight: 600;
        transition: all 0.3s ease;
    }

    .nav.open .nav-button {
        position: fixed;
        display: block;
        height: 30px;
        justify-content: flex-end;
        z-index: 9;
        right: 30px;
        top: 46px; 
    }

    .nav-link {
        color: #cc7f3b;
    }

    .nav-link.active {
        color: #ff8317;
    }

    .nav-button {
        position: relative;
        z-index: 9;
        top: -5px; 
        right: 30px;
        height: 35px;
    }

    .header-nav {
        margin-bottom: 50px;
    }

    .header-row {
        flex-direction: column;
        row-gap: 30px;
    }

    .header-content {
        margin-top: 0;
    }

    .header-img {
        text-align: center;
        height: 400px;
        width: 400px;
        position: relative;
        /* justify-content: center; */
    }

    .portfolio-row {
        flex-direction: column;
        row-gap: 15px;
    }

    .portfolio-img {
        align-items: center;
        text-align: center;
    }

    .quality-item {
        font-size: 15px;
    }
}

@media (max-width: 1065px) {
    .service-card {
        flex: 0 1 0;
        padding: 60px 0;
    }
}

@media (max-width: 700px) {
   
    .header-row {
        position: relative;
        max-width: 700px;
    }

    .header-heading {
        font-size: 34px;
        line-height: 1.3;
    }

    .header-subheading {
        font-size: 28px;
    }

    .header-img {
        text-align: center;
        height: 300px;
        width: 300px;
        position: relative;
    }

    .services {
        padding: 60px 0;
        text-align: center;
    }

    .service-card {
        text-align: center;
        flex: 1 0 0;
    }

}